.graph-container{
    background-color: rgb(206, 206, 206);
    height: 70vh;
    position: relative;
}

.logo{
    position: absolute;
    top: 3%;
    left: 1%;
    font-size: x-large;
    height: 3%;
    display: flex;
    align-items: center;
}

.logo img{
    height: 3rem;
    margin-right: 0.8rem;
}

body{
    background-color: rgb(219, 219, 219);
}